.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

.places h1 b {
    border: 1px solid red;
    border-radius: 4px;
}

.places article:first-of-type {
    border: 1px solid red;
    border-radius: 4px;
}

.places article:nth-of-type(2) {
    border: 1px solid red;
    border-radius: 4px;
}